{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <div class="w-2/5 mx-auto bg-gray-100 mt-10 font-space-mono">
        <div class="px-8 py-6 text-left bg-white shadow-lg">
            <h3 class="text-2xl font-bold text-center">Login to your account</h3>
            <form method="post">
                <div class="mt-4">
                    <div>
                        <label class="block" for="email">Username<label>
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" placeholder="Username"
                                       class="form-control w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" required autofocus>
                    </div>
                    <div class="mt-4">
                        <label class="block">Password<label>
                                <input type="password" name="password" id="inputPassword" placeholder="Password"
                                       class="form-control w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" required>
                    </div>
                    <div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    </div>
                    <div class="flex items-baseline justify-between">
                        <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900 btn btn-lg btn-primary" type="submit">Login</button>
                        <a href="/reset-password" class="text-sm text-blue-600 hover:underline">Forgot password?</a>
                    </div>
                    <div>
                        {% if error %}
                            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mt-2 rounded relative" role="alert">
                                <strong class="font-bold">Error!</strong>
                                <span class="block sm:inline">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
