{% extends 'base.html.twig' %}

{% block title %}IWA Home{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold underline font-space-mono">
        Hello world!
    </h1>
{% endblock %}