<!-- component -->
<div class="flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800 font-space-mono">
	<div class="fixed flex flex-col top-0 left-0 w-64 bg-white h-full border-r">
		<div class="overflow-y-auto overflow-x-hidden flex-grow">
			<ul class="flex flex-col py-4 space-y-1">
				<li class="px-5">
					<div class="">
						<img class="mx-auto object-fit h-24 w-32 drop-shadow-xl" alt="Logo IWA" src={{ asset('images/iwa-logo.png') }}>
					</div>
				</li>
				<li class="px-5">
					<div class="flex flex-row items-center h-8">
						<div class="text-sm font-light tracking-wide text-gray-500">Menu</div>
					</div>
				</li>
				<li>
					<a href="/" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6 {% if app.request.attributes.get('_route') starts with 'index' %} bg-gray-50 text-gray-800 border-l-4 border-indigo-500 pr-6 {% endif %}">
						<span class="inline-flex justify-center items-center ml-4">
							<i class="fa-duotone fa-house"></i>
						</span>
						<span class="ml-2 text-sm tracking-wide truncate">Home</span>
					</a>
				</li>
				<li>
					<a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
						<span class="inline-flex justify-center items-center ml-4">
							<i class="fa-duotone fa-badge-dollar"></i>
						</span>
						<span class="ml-2 text-sm tracking-wide truncate">Subscriptions</span>
					</a>
				</li>
				<li>
					<a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
						<span class="inline-flex justify-center items-center ml-4">
							<i class="fa-duotone fa-circle-info"></i>
						</span>
						<span class="ml-2 text-sm tracking-wide truncate">About</span>
					</a>
				</li>
				{% if is_granted('ROLE_USER') %}
					<li class="px-5">
						<div class="flex flex-row items-center h-8">
							<div class="text-sm font-light tracking-wide text-gray-500">Dashboard</div>
						</div>
					</li>
					<li>
						<a href="/monitor" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6 {% if app.request.attributes.get('_route') starts with 'app_monitor' %} bg-gray-50 text-gray-800 border-l-4 border-indigo-500 pr-6 {% endif %}">
							<span class="inline-flex justify-center items-center ml-4">
								<i class="fa-duotone fa-monitor-waveform"></i>
							</span>
							<span class="ml-2 text-sm tracking-wide truncate">Monitor</span>
						</a>
					</li>
					<li>
						<a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
							<span class="inline-flex justify-center items-center ml-4">
								<i class="fa-solid fa-file-contract"></i>
							</span>
							<span class="ml-2 text-sm tracking-wide truncate">Contracts</span>
						</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li class="px-5">
						<div class="flex flex-row items-center h-8">
							<div class="text-sm font-light tracking-wide text-gray-500">Admin</div>
						</div>
					</li>
					<li>
						<a href="/admin" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
							<span class="inline-flex justify-center items-center ml-4">
								<i class="fa-duotone fa-sitemap"></i>
							</span>
							<span class="ml-2 text-sm tracking-wide truncate">Entity Management</span>
						</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMINISTRATIVE_USER') %}
					<li class="px-5">
						<div class="flex flex-row items-center h-8">
							<div class="text-sm font-light tracking-wide text-gray-500">Administrative User</div>
						</div>
					</li>
					<li>
						<a href="/research" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
							<span class="inline-flex justify-center items-center ml-4">
								<i class="fa-duotone fa-list-dropdown"></i>
							</span>
							<span class="ml-2 text-sm tracking-wide truncate">Subscription Management</span>
						</a>
					</li>
				{% endif %}
				<li class="px-5">
					<div class="flex flex-row items-center h-8">
						<div class="text-sm font-light tracking-wide text-gray-500">
							{% if not app.user %}
								User
							{% else %}
								{{ app.user.username }}
							{% endif %}
						</div>
					</div>
				</li>
				{% if not app.user %}
					<li>
						<a href="/login" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6 {% if app.request.attributes.get('_route') starts with 'app_login' %} bg-gray-50 text-gray-800 border-l-4 border-indigo-500 pr-6 {% endif %}">
							<span class="inline-flex justify-center items-center ml-4">
								<i class="fa-duotone fa-right-to-bracket"></i>
							</span>
							<span class="ml-2 text-sm tracking-wide truncate">Login</span>
						</a>
					</li>
				{% else %}
					<li>
						<a href="/logout" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-indigo-500 pr-6">
							<span class="inline-flex justify-center items-center ml-4">
								<i class="fa-duotone fa-right-from-bracket"></i>
							</span>
							<span class="ml-2 text-sm tracking-wide truncate">Logout</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
