{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <h1>Hallo, {{ controller_name }}!</h1>
        <div {{ react_component("StationComponent", {"station": station}) }} />
    </div>
{% endblock %}