{% extends 'base.html.twig' %}
{% block body %}
    <div class="stationThing">
        <div {{ react_component("StationComponent", {"measurements": measurements, "station": station}) }} />
    </div>
{% endblock %}